swagger: '2.0'
info:
  description: >-
    Api Document
  version: 1.0.0
  title: docker
  contact:
    email: info@n-3.it
host: www.host.it
basePath: /lib/docker/V2
tags: 
  - name: DOCKER
    description: DOCKER
schemes: 
  - https 
  - http
paths:
  /docker:
    post:
      tags:
        - DOCKER
      summary: Insert Docker
      description: ''
      operationId: saveDocker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/DockerRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DockerResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - DOCKER
      summary: Update di Docker
      description: ''
      operationId: updateDocker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/DockerRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DockerResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - DOCKER
      summary: Estrazione della lista di Docker
      description: ''
      operationId: getListDocker
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DockerListResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - DOCKER
      summary: Delete di Docker
      description: ''
      operationId: deleteDocker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/DockerRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/GenericResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - DOCKER
      summary: Erase di Docker
      description: ''
      operationId: erasedDocker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/DockerRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DockerResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /docker/{dockerId}:
    get:
      tags:
        - DOCKER
      summary: Estrazione di Docker
      description: ''
      operationId: getDocker
      produces:
        - application/json
      parameters:
      - name: "dockerId"
        in: "path"
        description: "ID of docker to return "
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DockerResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /docker/datatable/list:
    get:
      tags:
        - DOCKER
      summary: Datatable
      description: ''
      operationId: getDatatableDocker
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DatatableResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /docker/autocomplete/{columnName}:
    get:
      tags:
        - DOCKER
      summary: Autocomplete
      description: ''
      operationId: getAutocompleteValuesDocker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /docker/foreignkey/{columnName}:
    get:
      tags:
        - DOCKER
      summary: Autocomplete
      description: ''
      operationId: getForeignKeyValuesDocker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  #Response Object 
  GenericResponse:
    type: object
    properties:
      result:
        type: boolean
  #Datatable Object 
  DatatableResponse:
    type: object
    properties:
      aaData:
        type: array
        items:
          type: array
          items:
            type: object
      iTotalDisplayRecords:
        type: string
      iTotalRecords:
        type: string
      sEcho:
        type: number
  #Autocomplete Object 
  AutocompleteResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            text:
              type: string
  ErrorResponse:
    type: object
    properties:
      result:
        type: boolean
      message:
        type: string
      code:
        type: string
  DockerResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/Docker"
  DockerListResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/DockerList"
#Aggregate Object
  DockerList:
    type: array 
    items:
      $ref: "#/definitions/Docker"
  DockerRequest:
    type: object
    properties:
      token:
        type: string
      data:
        $ref: "#/definitions/Docker"
  #Class Object
  Docker:
    type: object
    properties:
      id: 
        type: number
      name: 
        type: string
      image: 
        type: string
      command: 
        type: string
      status: 
        type: string
      created: 
        type: string

