swagger: '2.0'
info:
  description: >-
    Api Document
  version: 1.0.0
  title: capture
  contact:
    email: info@n-3.it
host: www.host.it
basePath: /lib/capture/V2
tags: 
  - name: CAPTURE
    description: CAPTURE
schemes: 
  - https 
  - http
paths:
  /capture:
    post:
      tags:
        - CAPTURE
      summary: Insert Capture
      description: ''
      operationId: saveCapture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/CaptureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/CaptureResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - CAPTURE
      summary: Update di Capture
      description: ''
      operationId: updateCapture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/CaptureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/CaptureResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - CAPTURE
      summary: Estrazione della lista di Capture
      description: ''
      operationId: getListCapture
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/CaptureListResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - CAPTURE
      summary: Delete di Capture
      description: ''
      operationId: deleteCapture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/CaptureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/GenericResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - CAPTURE
      summary: Erase di Capture
      description: ''
      operationId: erasedCapture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/CaptureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/CaptureResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /capture/{captureId}:
    get:
      tags:
        - CAPTURE
      summary: Estrazione di Capture
      description: ''
      operationId: getCapture
      produces:
        - application/json
      parameters:
      - name: "captureId"
        in: "path"
        description: "ID of capture to return "
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/CaptureResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /capture/datatable/list:
    get:
      tags:
        - CAPTURE
      summary: Datatable
      description: ''
      operationId: getDatatableCapture
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DatatableResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /capture/autocomplete/{columnName}:
    get:
      tags:
        - CAPTURE
      summary: Autocomplete
      description: ''
      operationId: getAutocompleteValuesCapture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /capture/foreignkey/{columnName}:
    get:
      tags:
        - CAPTURE
      summary: Autocomplete
      description: ''
      operationId: getForeignKeyValuesCapture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  #Response Object 
  GenericResponse:
    type: object
    properties:
      result:
        type: boolean
  #Datatable Object 
  DatatableResponse:
    type: object
    properties:
      aaData:
        type: array
        items:
          type: array
          items:
            type: object
      iTotalDisplayRecords:
        type: string
      iTotalRecords:
        type: string
      sEcho:
        type: number
  #Autocomplete Object 
  AutocompleteResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            text:
              type: string
  ErrorResponse:
    type: object
    properties:
      result:
        type: boolean
      message:
        type: string
      code:
        type: string
  CaptureResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/Capture"
  CaptureListResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/CaptureList"
#Aggregate Object
  CaptureList:
    type: array 
    items:
      $ref: "#/definitions/Capture"
  CaptureRequest:
    type: object
    properties:
      token:
        type: string
      data:
        $ref: "#/definitions/Capture"
  #Class Object
  Capture:
    type: object
    properties:
      id: 
        type: number
      name: 
        type: string
      image: 
        type: string
      command: 
        type: string
      status: 
        type: string
      created: 
        type: string

