swagger: '2.0'
info:
  description: >-
    Api Document
  version: 1.0.0
  title: freeture
  contact:
    email: info@n-3.it
host: www.host.it
basePath: /lib/freeture/V2
tags: 
  - name: FREETURE
    description: FREETURE
schemes: 
  - https 
  - http
paths:
  /freeture:
    post:
      tags:
        - FREETURE
      summary: Insert Freeture
      description: ''
      operationId: saveFreeture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - FREETURE
      summary: Update di Freeture
      description: ''
      operationId: updateFreeture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - FREETURE
      summary: Estrazione della lista di Freeture
      description: ''
      operationId: getListFreeture
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureListResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - FREETURE
      summary: Delete di Freeture
      description: ''
      operationId: deleteFreeture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/GenericResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - FREETURE
      summary: Erase di Freeture
      description: ''
      operationId: erasedFreeture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeture/{freetureId}:
    get:
      tags:
        - FREETURE
      summary: Estrazione di Freeture
      description: ''
      operationId: getFreeture
      produces:
        - application/json
      parameters:
      - name: "freetureId"
        in: "path"
        description: "ID of freeture to return "
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeture/datatable/list:
    get:
      tags:
        - FREETURE
      summary: Datatable
      description: ''
      operationId: getDatatableFreeture
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DatatableResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeture/autocomplete/{columnName}:
    get:
      tags:
        - FREETURE
      summary: Autocomplete
      description: ''
      operationId: getAutocompleteValuesFreeture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeture/foreignkey/{columnName}:
    get:
      tags:
        - FREETURE
      summary: Autocomplete
      description: ''
      operationId: getForeignKeyValuesFreeture
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  #Response Object 
  GenericResponse:
    type: object
    properties:
      result:
        type: boolean
  #Datatable Object 
  DatatableResponse:
    type: object
    properties:
      aaData:
        type: array
        items:
          type: array
          items:
            type: object
      iTotalDisplayRecords:
        type: string
      iTotalRecords:
        type: string
      sEcho:
        type: number
  #Autocomplete Object 
  AutocompleteResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            text:
              type: string
  ErrorResponse:
    type: object
    properties:
      result:
        type: boolean
      message:
        type: string
      code:
        type: string
  FreetureResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/Freeture"
  FreetureListResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/FreetureList"
#Aggregate Object
  FreetureList:
    type: array 
    items:
      $ref: "#/definitions/Freeture"
  FreetureRequest:
    type: object
    properties:
      token:
        type: string
      data:
        $ref: "#/definitions/Freeture"
  #Class Object
  Freeture:
    type: object
    properties:
      id: 
        type: number
      key: 
        type: string
      value: 
        type: string
      description: 
        type: string
      show: 
        type: boolean

