swagger: '2.0'
info:
  description: >-
    Api Document
  version: 1.0.0
  title: ft
  contact:
    email: info@n-3.it
host: www.host.it
basePath: /lib/ft/V2
tags: 
  - name: FREETUREFINAL
    description: FREETUREFINAL
schemes: 
  - https 
  - http
paths:  
  /freeturefinal:
    post:
      tags:
        - FREETUREFINAL
      summary: Insert FreetureFinal
      description: ''
      operationId: saveFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureFinalRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - FREETUREFINAL
      summary: Update di FreetureFinal
      description: ''
      operationId: updateFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureFinalRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - FREETUREFINAL
      summary: Estrazione della lista di FreetureFinal
      description: ''
      operationId: getListFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalListResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - FREETUREFINAL
      summary: Delete di FreetureFinal
      description: ''
      operationId: deleteFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureFinalRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/GenericResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - FREETUREFINAL
      summary: Erase di FreetureFinal
      description: ''
      operationId: erasedFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureFinalRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeturefinal/{freeturefinalId}:
    get:
      tags:
        - FREETUREFINAL
      summary: Estrazione di FreetureFinal
      description: ''
      operationId: getFreetureFinal
      produces:
        - application/json
      parameters:
      - name: "freeturefinalId"
        in: "path"
        description: "ID of freeturefinal to return "
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeturefinal/datatable/list:
    get:
      tags:
        - FREETUREFINAL
      summary: Datatable
      description: ''
      operationId: getDatatableFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DatatableResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeturefinal/autocomplete/{columnName}:
    get:
      tags:
        - FREETUREFINAL
      summary: Autocomplete
      description: ''
      operationId: getAutocompleteValuesFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /freeturefinal/foreignkey/{columnName}:
    get:
      tags:
        - FREETUREFINAL
      summary: Autocomplete
      description: ''
      operationId: getForeignKeyValuesFreetureFinal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /editconfiguration:
    post:
      tags:
        - FREETUREFINAL
      summary: Edit FreetureFinal configuration
      description: ''
      operationId: editFtConfiguration
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureFinalRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'  
  /editmask:
    post:
      tags:
        - FREETUREFINAL
      summary: Edit FreetureFinal mask
      description: ''
      operationId: editFtMask
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/FreetureFinalRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/FreetureFinalResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
definitions:
  #Response Object 
  GenericResponse:
    type: object
    properties:
      result:
        type: boolean
  #Datatable Object 
  DatatableResponse:
    type: object
    properties:
      aaData:
        type: array
        items:
          type: array
          items:
            type: object
      iTotalDisplayRecords:
        type: string
      iTotalRecords:
        type: string
      sEcho:
        type: number
  #Autocomplete Object 
  AutocompleteResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            text:
              type: string
  ErrorResponse:
    type: object
    properties:
      result:
        type: boolean
      message:
        type: string
      code:
        type: string
  FreetureFinalResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/FreetureFinal"
  FreetureFinalListResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/FreetureFinalList"
#Aggregate Object
  FreetureFinalList:
    type: array 
    items:
      $ref: "#/definitions/FreetureFinal"
  FreetureFinalRequest:
    type: object
    properties:
      token:
        type: string
      data:
        $ref: "#/definitions/FreetureFinal"
  #Class Object
  FreetureFinal:
    type: object
    properties:
      id: 
        type: number
      key: 
        type: string
      value: 
        type: string
      description: 
        type: string
      show: 
        type: boolean

