swagger: '2.0'
info:
  description: >-
    Api Document
  version: 1.0.0
  title: stack
  contact:
    email: info@n-3.it
host: www.host.it
basePath: /lib/stack/V2
tags: 
  - name: STACK
    description: STACK
schemes: 
  - https 
  - http
paths:
  /stack:
    post:
      tags:
        - STACK
      summary: Insert Stack
      description: ''
      operationId: saveStack
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/StackRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/StackResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - STACK
      summary: Update di Stack
      description: ''
      operationId: updateStack
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/StackRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/StackResponse'
        '403':
            description: Errore
            schema:
              $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - STACK
      summary: Estrazione della lista di Stack
      description: ''
      operationId: getListStack
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/StackListResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - STACK
      summary: Delete di Stack
      description: ''
      operationId: deleteStack
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/StackRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/GenericResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
        - STACK
      summary: Erase di Stack
      description: ''
      operationId: erasedStack
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/StackRequest'
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/StackResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /stack/{stackId}:
    get:
      tags:
        - STACK
      summary: Estrazione di Stack
      description: ''
      operationId: getStack
      produces:
        - application/json
      parameters:
      - name: "stackId"
        in: "path"
        description: "ID of stack to return "
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/StackResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /stack/datatable/list:
    get:
      tags:
        - STACK
      summary: Datatable
      description: ''
      operationId: getDatatableStack
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/DatatableResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /stack/autocomplete/{columnName}:
    get:
      tags:
        - STACK
      summary: Autocomplete
      description: ''
      operationId: getAutocompleteValuesStack
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
  /stack/foreignkey/{columnName}:
    get:
      tags:
        - STACK
      summary: Autocomplete
      description: ''
      operationId: getForeignKeyValuesStack
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: columnName
        in: "path"
        description: Name of the DB column to get value list
        required: true
        type: "string"
      responses:
        '200':
          description: Operazione riuscita
          schema:
            $ref: '#/definitions/AutocompleteResponse'
        '403':
          description: Errore
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  #Response Object 
  GenericResponse:
    type: object
    properties:
      result:
        type: boolean
  #Datatable Object 
  DatatableResponse:
    type: object
    properties:
      aaData:
        type: array
        items:
          type: array
          items:
            type: object
      iTotalDisplayRecords:
        type: string
      iTotalRecords:
        type: string
      sEcho:
        type: number
  #Autocomplete Object 
  AutocompleteResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            text:
              type: string
  ErrorResponse:
    type: object
    properties:
      result:
        type: boolean
      message:
        type: string
      code:
        type: string
  StackResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/Stack"
  StackListResponse:
    type: object
    properties:
      result:
        type: boolean
      data:
        $ref: "#/definitions/StackList"
#Aggregate Object
  StackList:
    type: array 
    items:
      $ref: "#/definitions/Stack"
  StackRequest:
    type: object
    properties:
      token:
        type: string
      data:
        $ref: "#/definitions/Stack"
  #Class Object
  Stack:
    type: object
    properties:
      id: 
        type: number
      name: 
        type: string
      image: 
        type: string
      command: 
        type: string
      status: 
        type: string
      created: 
        type: string

